.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 40px;
}
.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  color: #e0e0e0;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #f5f5f5;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  width: 80px;
  text-align: right;
  color: #525252;
  font-size: 0.875rem;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}
@media (max-width: 894px) {
  .experiencia {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    font-size: 3rem;
    text-transform: initial !important;
    max-width: 11ch;
    color: #000000;
    justify-self: left;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .experiencia-texto {
    padding: auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 54ch;    
    color: #525252;
  }
  .empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin: 80px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #f5f5f5;
    position: relative;
}
}
@media (max-width: 712px) {
  .experiencia {
    display: grid;
    grid-template-columns: 1fr;       
  }  
  .experiencia-texto { 
    padding: 0px 30px;        
    font-size: 1.3rem;
    line-height: 1;
    max-width: 54ch;    
    color: #525252;   
  }
  .empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin: 80px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #f5f5f5;
    position: relative;
}
}
@media (max-width: 475px) { 
  .experiencia-texto { 
    text-align: left;
    padding: 0px 30px;        
    font-size: 1.3rem;
    line-height: 1;
    max-width: 30ch;    
    color: #525252;   
  }
  .empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin: 80px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #f5f5f5;
    position: relative;
}
.empresa::before {
  grid-template-columns: 1fr;   
}
}
@media (max-width: 375px) {   
  .empresa {
    display: grid;
    grid-template-columns: 1fr;       
}
.empresa-ano {
  position: relative;
  text-transform: initial !important;
  order: 1;
  left: 20px;
}
}
